@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "DM Sans", sans-serif !important;
    font-feature-settings: "kern" !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
  }
}
html,
body,
#root {
  font-family: sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.gradient-text {
  background: linear-gradient(45deg, #003262, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.border-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  content: "";
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

a:hover .border-animation {
  background-color: #fdb515;
  transform: scaleX(1);
}

button:hover .border-animation {
  background-color: #fdb515;
  transform: scaleX(1);
}

.arrow-icon {
  transition: transform 0.3s ease-in-out;
}

li:hover .arrow-icon {
  transform: translateY(3px);
}

.half-circle-right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 200px;
  height: 400px;
  background: linear-gradient(to right, #0891b2, #003262);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  transform: translateY(-50%);
  z-index: -1;
}

.half-circle-left {
  position: absolute;
  top: 70%;
  left: 0;
  width: 200px;
  height: 400px;
  background: linear-gradient(to left, #fef3c7, #fdb515);
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  transform: translateY(-50%);
  z-index: -1;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}
